* {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
}

.container {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: min-content min-content 5fr min-content;
  grid-template-areas:
    "header header"
    "sideBar nav"
    "sideBar article"
    "footer footer";
  gap: 4px;

  div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
  }
}

.header {
  background-color: #393f4d;
  grid-area: header;

  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-areas:
    "headerLogo headerMenu"
  ; */
}

.logo {
  justify-self: start;
}

.menu {
  align-self: center;

  ul, li {
    font-size: 16px;
  }

  ul {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }
}

.sidebar {
  background-color: #C50208;
  grid-area: sideBar;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
  
  .photo {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: normal;
    border-radius: 10px;
  }

  .side-content {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: normal;

  }
  
  .photo, .side-content {
    display: grid;
    place-content: center;
  }
}

.nav {
  grid-area: nav;
  background-color: #C50208;
  
  ul,li {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.article {
  background-color: #bccbde;
  grid-area: article;

  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  overflow-y: scroll;
  
  p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    height: 200px;
  }
}

.card {
  p {
    color: black;
    font-weight: normal;
    font-size: 14px;
    padding: 5px;
  }
  
  .title {
    font-size: 18px;
    text-align: center;
  }
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
  
  p {
    font-size: 13px;
    font-weight: normal;
    
  }
}
/* .menu ul,
.menu li {
  font-size: 16px;
} */
/* .nav {
  background-color: #C50208;
} */
/* .nav ul li {
  font-size: 16px;
  text-transform: uppercase;
} */

/* .article p {
}

.article .card {
} */
/* 
.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
} */

/* 
.footer p {
  font-size: 13px;
  font-weight: normal;
} */